.product{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.product-img{
    margin-right: 20px;
}
.product-info h2{
    color: blue;
    font-weight: 400;
}
.main-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 18px;
    cursor: pointer;
}